<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panduoma.cwhospital.mapper.AppointmentMapper">

    <!-- 根据 userId 查询当前用户的预约 -->
    <select id="selectByUserId" resultType="com.panduoma.cwhospital.entity.Appointment">
        SELECT * FROM appointment WHERE user_id = #{userId}
    </select>

</mapper>